# Arquivos Django / Python
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3

# Ambiente virtual
venv/
.env

# Arquivos temporários
*.log
*.pot
*.py[cod]
*.so

# Configurações locais
.DS_Store
.idea/
.vscode/

# Credenciais
.env
